{% for service in services.evpn_vpws %}
{% if srv6 %}
evpn
 !
 evi {{service.evi}} segment-routing srv6
  locator {{ service.srv6_locator }}
  !
 !
 segment-routing srv6
 !
{% endif %}
!
l2vpn
 xconnect group {{service.name}}
  p2p {{service.name}}
   interface {{service.interface}}
   neighbor evpn evi {{service.evi}} service 1 {% if srv6 %}segment-routing srv6{% endif %}

   !
 !
{% endfor %}